* {
    box-sizing: border-box;
}

body {
    font-family:Helvetica;
    text-align:center;
    background-image: linear-gradient(to bottom right, #00ffff, #25bfff, #4b7fff, #703fff, #9600ff);
    min-height: 100vh;
    color: white;
}

.sus {
    font-size:x-large;
}

.snazzy {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size:x-large;
}

.buttonAppearance {
    background-color:#703fff;
    border: 2px solid black;
    color: white;
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 8px;
    transition-duration: 0.4s;
    display:inline-block
  }

.buttonAppearance:hover {
    background-color:white;
    color:#703fff;
}